:root{
    --primary-clr: #AD957B;
}

.editwat-container{
    margin: 70px;
}

.edit-detail{
    font-size: 64px;
    color: var(--primary-clr);
    font-weight: bold;
}

h2{
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
}

.information-wat > label{
    color: white;
    margin-left: 20px;
    font-size: 24px;
    margin-right: 10px;
}

.information-wat p {
    font-size: 24px;
}