@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #312F32;     
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  body {
    padding-top: 60px; 
  }
.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-family: Old Standard TT;
}
.navbar .logo img {
    width: 60px;
    height: 60px;
}
.navbar .logo a {
    font-size: 32px;
    font-weight: bold;
    font-family: Old Standard TT;
}
.navbar .nav-buttons {
    display: flex;
    gap: 45px;
}

.navbar .Login-buttons button {
    height: 40px;
    width: 175px;
    padding: 10px 15px;
    border: none;
    background-color: #AD957B;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-family: Old Standard TT;
}
.navbar .Login-buttons button:hover {
    background-color: #b2a18f;
}
.navbar .Profile-buttons {
    display: flex;
    align-items: center;
}
.navbar .Profile-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}
.navbar .Profile-buttons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar .Bell-Buttons {
    margin-top: 5px;
}

.navbar .Profile-buttons button:hover {
    opacity: 0.8;
}