.payment-options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .payment-option {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  
  .payment-option.active {
    border: 2px solid #fff; /* เพิ่มความแตกต่างเมื่อถูกเลือก */
  }
  
  .payment-option input[type="radio"] {
    accent-color: #fff; /* ปรับสี radio button */
  }
  