.Container {
    height: 100vh;
    width: 1138px; 
    margin: 0 auto;
}


.SearchResult {
    display: flex;
    width: 1138px; 
    justify-content: space-between; 

} 
.Container .Search-bar {
    position: fixed;
    width: 1000px; 
    top: 0;
    margin-top: 225px;
    z-index: 1000; 
    justify-content: center;
}

.Container .Results {
    position: fixed;
    margin-top: 10px; 
    padding: 20px;
    border-radius: 8px;
    color: #AD957B;
}
.Container .Results h2 {
    margin-left: 0px;
}

.Container .Results p {
    color: #ffffff;
}


